body {
  font-family: Arial, Helvetica, sans-serif;
}
ul.a {
  list-style-position: outside;
}
p {
  line-height: 1.5;
  font-size: 18px;
}
.first{
  width: 100%;
  margin: auto;
}
.r{
  width: 95%;
  padding-left: 0.5px;

}
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left, .footer-middle, .footer-right {
  flex: 1;
  min-width: 250px;
}

.footer-left h3, .footer-middle h3, .footer-right h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-left p, .footer-middle ul, .footer-right p {
  font-size: 14px;
}

.footer-middle ul {
  list-style-type: none;
}

.footer-middle ul li {
  margin-bottom: 10px;
}

.footer-middle ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-middle ul li a:hover {
  color: #ff9800;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}

.footer-bottom p {
  color: #bbb;
}

/* Responsive Design for smaller screens */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}

div.example {
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 800px) {
  div.example {
    padding: 0%;
  }
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.mask{
  border-style: solid;
  border-color: black;
  background-color: #d3f2f1;
  padding-left: 10px;
  padding-right: 10px;
}
.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


.active {
  background-color: #66dfe3;
  color: white;
}
